section.clients {
    display: flex;
    flex-direction: column;
}
section.clients div {
    margin: 1em;
}
section.clients select {
    padding: 1em;
    width: 100%;
}
section.clients form {
    display: flex;
    flex-direction: column;
    width: 20em;
}
section.clients form * {
    padding: 1em;
}

section.client-settings {
    margin: 1em;
}
section.client-settings form {
    display: flex;
    flex-direction: column;
    width: 25em;
}

section.client-settings form * {
    text-align: center;
    padding: 1em;
    flex: 1;
}
section.client-settings form div {
    display: flex;
    padding: 0;
}