section.bot-selection {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    max-width: 55vw;
}
section.bot-selection label {
    display: flex;
}
section.bot-selection label input {
    opacity: 0;
}
section.bot-selection span {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border-radius: 2em;
    border: solid 0.1px;
    padding: 0.5em 1em;
    cursor: pointer;
    margin: 0.5em;
    flex: 1;
}
section.bot-selection span div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6em;
    overflow: hidden;
    border-radius: 100%;
}
section.bot-selection span img {
    height: 6em;
}
section.bot-selection span:hover, section.bot-selection input:checked + span{
    color: white;
    background-color: #777;
}
section.bot-selection input:checked + span:hover {
    background-color: #555;
}
button.acceptbtn {
    margin: auto;
    padding: 1em 2em;
    background-color: #85f73e;
    border: none;
}