.clients {
    display: flex;
    flex-direction: column;
}
.clients div {
    margin: 1em;
    margin-bottom: 0;
}
.clients select {
    padding: 1em;
    width: 100%;
}
.clients form {
    display: flex;
    flex-direction: column;
    width: 20em;
}
.clients form * {
    padding: 1em;
}
.clients ul {
    max-height: 3em;
    overflow: auto;
    padding: 0;
    margin: 0;
}
.clients li {
    padding: 10px;
    list-style: none;
    margin-bottom: 1px;
    border-radius: 4px;
    border: solid #CCC 1px;
}
.clients .selectedClients {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clients .selectedClients span,
.searchContainer span {
    padding: 6px 1em;
    list-style: none;
    border-radius: 4px;
    border: solid #CCC 1px;
}

.searchContainer input {
    min-height: 2em;
    width: clamp(10em, 25em, 30em);
    margin: 1em;
}

.clientList {
    width: 90%;
    margin-left: 10%;
}
.clientList tr th {
    cursor: pointer;
}

.clientSettings {
    margin: 1em;
}
.clientSettings form {
    display: flex;
    flex-direction: column;
    width: 25em;
}
.clientSettings form * {
    text-align: center;
    padding: 1em;
    flex: 1;
}
.clientSettings form div {
    display: flex;
    padding: 0;
}
.botName {
    background-color: #ffffcb;
    border-left: 6px solid #ffe600;
    padding: 20px;
    width: 100%;
    margin-top: 0;
}

@media (max-width: 750px) {
    .clientList {
        width: 100%;
        margin-left: 0em;
    }
}
@media (max-width: 500px) {
    .clientList {
        font-size: smaller;
    }
}
@media (max-width: 400px) {
    .clientSettings * {
        padding: 1em 10px !important;
    }
    .clientSettings form {
        max-width: 100%;
    }
    .clientSettings,
    .search {
        margin: 1em 0;
        max-width: 100vw;
    }
    .clientList td:nth-child(3) {
        display: none;
    }
}