.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: antiquewhite;
    padding: 1em;
    width: 100%;
    border-bottom: 1px dashed black;
}
.header div {
    display: flex;
    align-items: center;
    font-weight: bold;
}
.header button {
    background-color: transparent;
    border: none;
    opacity: 0;
    cursor: pointer;
}
.header button:disabled {
    cursor: auto;
}
.header img {
    width: 5em;
    margin: -10px;
}
.header div + div img {
    filter: grayscale();
}
.header div p {
    font-size: 2em;
}

