section.login {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
section.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    z-index: 2;
    padding: 1em;
    border-radius: 4px;
    background-color: #fff;
}

section.login form * {
    font-size: 2em;
    padding: 0.2em;
    color: #000;
}

section.login form input {
    max-width: 100vw;
    width: 450px;
    margin-bottom: 0.4em;
}
section.login form button {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 20px;
    background-color: #35a947;
}
section.login form button:hover {
    background-color: #2d8f3c;
}