<section class="dashboard">
    <section class="clients">
        <div>
            <h2> Vendedores cadastrados </h2>
            <select id="clientdropdown" onchange = "selectSeller(this)">
            </select>
        </div>
        <div> 
            <h2> Cadastrar novo vendedor </h2>
            <form onsubmit="saveSeller(event); return false" 
                method="post">
                <input type="email" placeholder="E-mail" 
                    id="selleremail" required>
                <input type="number" 
                    id="licensedays" min = 1 required
                    placeholder = "Quantidade de licenças">
                <button type="submit"> 
                    Adicionar/Salvar vendedor 
                </button>
            </form>
        </div>
    </section>

    <section class="bot-selection">
    </section>
</section>
<script type = "text/javascript" src = "scripts/sellers.js">
</script>