<h2 class="bot-name">
    Nome do bot
</h2>
<section class="dashboard">
    <section class="clients">
        <div>
            <h2> Clientes cadastrados </h2>
            <select 
                name="clients" 
                id="clientdropdown" 
                onChange="selectClient(this)">
                <option value=""> 
                    Selecionar 
                </option>
            </select>
        </div>
        <div> 
            <h2> Cadastrar novo cliente </h2>
            <form onsubmit = "return false;">
                <input type="email" placeholder="E-mail" id = "newclient" required>
                <button onclick="saveClients()"> 
                    Adicionar novo cliente 
                </button>
            </form>
        </div>
    </section>
    <section class="client-settings">
        <h2> Dados do cliente </h2>
        <form onsubmit = "return false;">
            <input id = "emailpreview" placeholder = "E-mail" disabled>
            <input type="number" id="licensedayspreview"
                placeholder = "Dias da licença" disabled>
            <div>
                <button onclick = "giveLicense(true); return false;"> 
                    Teste grátis 
                </button>
                <button onclick = "giveLicense()"> 
                    Renovar licença 
                </button>
            </div>
            <button onclick = "deleteUser()"> 
                Deletar usuário 
            </button>
        </form>
    </section>
</section>
<script type = "text/javascript" src = "scripts/clients.js"></script>
