html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
button {
  border: 0.1px solid;
}
button:hover {
  background: #DDD;
  transition: 0.2s;
}
span.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.7;
}
.dashboard {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 1200px;
}
.dashboard h2 {
  margin-bottom: 0.5em;
}

.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
  width: 80%;
}

.pagination a {
  padding: 10px 2em;
  border-radius: 5px;
  border: 1px solid var(--bs-blue);
  color: var(--bs-blue);
  text-decoration: none;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #fff !important;
  background: var(--bs-blue);
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}
.pagination__link--disabled a {
  color: rgb(198, 197, 202) !important;
}
@media (max-width: 750px) {
  .dashboard {
    flex-wrap: wrap;
  }
  .pagination {
    width: 100% !important;
    font-size: xx-small;
  }
}